body{
    font-family: "ヒラギノ明朝 ProN", "MS 明朝", serif;
    background-color: #F5F5DC;
    color: #333333;
}

ul.ddmenu {
 margin: 0px; /* メニューバー外側の余白(ゼロ) */
 padding: 0px 0px 0px 15px; /* メニューバー内側の余白(左に15px) */
 background-color: #800020; /* バーの背景色(濃い赤色) */
}

ul.ddmenu li {
 width: 125px; /* メニュー項目の横幅(125px) */
 display: inline-block; /* ★1:横並びに配置する */
 list-style-type: none; /* ★2:リストの先頭記号を消す */
 position: relative; /* ★3:サブメニュー表示の基準位置にする */
}

ul.ddmenu a {
 background-color: #800020; /* メニュー項目の背景色(濃い赤色) */
 color: white; /* メニュー項目の文字色(白色) */
 line-height: 40px; /* メニュー項目のリンクの高さ(40px) */
 text-align: center; /* メインメニューの文字列の配置(中央寄せ) */
 text-decoration: none; /* メニュー項目の装飾(下線を消す) */
 font-weight: bold; /* 太字にする */
 display: block; /* ★4:項目内全域をリンク可能にする */
}

ul.ddmenu ul {
 display: none; /* ★1:標準では非表示にする */
 margin: 0px; /* ★2:サブメニュー外側の余白(ゼロ) */
 padding: 0px; /* ★3:サブメニュー内側の余白(ゼロ) */
 position: absolute; /* ★4:絶対配置にする */
}

ul.ddmenu a:hover {
 background-color: #ffdddd; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */
 color: #800020; /* メニュー項目にマウスが載ったときの文字色(濃い赤色) */
}

ul.ddmenu li:hover ul {
 display: block; /* ★5:マウスポインタが載っている項目の内部にあるリストを表示する */
}

#logo{
    width: 100px;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.honbun{
    text-align: center;
}

.fast{
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
    padding: 0px;
    line-height: 40px;
}

.second{
    font-size: 20px;
    margin: 70px;
    line-height: 30px;
}

.menu{
    width: 150px;
    height: auto;
}

.glass{
    width: 300px;
    height: auto;
}

.cheese{
    width: 150px;
    height: auto;
}

.drink{
    width: 150px;
    height: auto;
}

.place{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

#map{
    width: 500px;
    margin: 0 auto;
    height: auto; 
    display: block;
}

.line{
    width: 500px;
    text-align: left;
    line-height: 0px;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item{
    background-color: transparent;
    background-image: none;
    color: white;
    text-align: center;
    height: 300px;
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: calc(33.33% - 20px);
    flex-grow: 1;
}

.item::before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: 1;
}

.item p{
    position: relative; 
    z-index: 2; 
    color: white; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9); 
    background-color: rgba(0, 0, 0, 0.2); 
    padding: 5px 10px;
    border-radius: 5px;
    line-height: 1.5;
}

#item1::before {
    background-image: url(image/price_image1.jpg);
}

#item2::before {
    background-image: url(image/price_image2.jpg); 
}

#item3::before {
    background-image: url(image/price_image3.jpg); 
}

@media (max-width: 650px){
    .container{
        justify-content: center;
    }

    .item{
        width: calc(100% - 20px);
        flex-grow: 0;
    }
}

.course_name{
    font-size: 20px;
    font-weight: bold;
}

.course_price{
    font-size: 20px;
}

